extends layout

block content
  h1= title
  
  ul
    each presenter in presenter_list
      li 
        a(href=presenter.url) #{presenter.title} 
        |  (#{presenter.PresenterID.name})

    else
      li There are no presenters.